In [ ]:
#3 arquivos estão sendo postados aqui: cadastro.csv; preço da gasolina.csv; salario_professioes.csv.
#Diante desses 3 arquivos, o trabalho deve responder as seguintes perguntas:

#Qual a idade média das pessoas no cadastro ?
#Quantos homens tem no cadastro ?
#Quantas mulheres tem no cadastro ?
#Qual a idade média dos homens e das mulheres ?
#Crie um gráfico de barras e mostre a distribuição de escolaridade no cadastro ?
#Mostre a Média Salarial do cadastro ?
#Quem tem o maior salário ?
#Tirando desempregado quem recebe menos ?
#Quantas pessoas gostam de caminhar no final de semana ?
#Crie um gráfico mostrando entre a relação de escolaridade e quem pratica esporte ?
#Crie um mapa de calor ?
#Mostre de forma gráfica a distribuição de estados do cadastro ?

In [6]:
#importando a biblioteca do pandas (https://pandas.pydata.org/)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#metodo responsavel por realizar a leitura do arquivo Trabalho final

cadastro_df = pd.read_csv("C:\Temp\cadastro.csv")

preco_da_gasolina_df = pd.read_csv("C:\Temp\preco_da_gasolina.csv")

salario_profissoes_df = pd.read_csv("C:\Temp\salario_profissoes.csv")

#já com o shape, podemos avaliar a estrutura do arquivo
cadastro_df.shape

(30, 15)

In [7]:
cadastro_df.head(5)

,nome,sobrenome,ano_nascimento,sexo,cidade,profissão,experiencia profissional,estado_civil,filhos,lazer_final_de_semana,pratica_esporte,qual_esporte,quanta_vezes_na_semana_pratica_esporte,tem carro,escolaridade
0,Dirceu,Manolo,1985,m,São Vicente,Cientista de Dados,4,Casado,1,"estudar, academia, jogar video game,surfar",sim,academia,3.0,sim,Ensino Superior
1,Maria,Silva,1970,f,Santos,dona de casa,2,Casada,3,ver tv,não,-,0.0,não,Ensino Médio
2,Adalberto,Martins,1990,m,São Paulo,desempregado,0,Solteiro,1,jogar bola,sim,jogo bola,2.0,sim,Ensino Superior
3,João,Aparecido,1950,m,Monte Alto,Gerente de Projeto,3,Viuvo,2,Nã faço nada,NaN,-,NaN,sim,Ensino Superior
4,Marta,da Silva,1983,f,São Caetano,Auxiliar de Enfermagem,2,Solteira,0,caminhar,sim,crossfit,4.0,não,Ensimo Tecnico

SyntaxError: invalid syntax (<ipython-input-27-321f6ab1d381>, line 1)

In [26]:
cadastro_df.drop('idade', axis=1)

,nome,sobrenome,ano_nascimento,sexo,cidade,profissão,experiencia profissional,estado_civil,filhos,lazer_final_de_semana,pratica_esporte,qual_esporte,quanta_vezes_na_semana_pratica_esporte,tem carro,escolaridade
0,Dirceu,Manolo,1985,m,São Vicente,Cientista de Dados,4,Casado,1,"estudar, academia, jogar video game,surfar",sim,academia,3.0,sim,Ensino Superior
1,Maria,Silva,1970,f,Santos,dona de casa,2,Casada,3,ver tv,não,-,0.0,não,Ensino Médio
2,Adalberto,Martins,1990,m,São Paulo,desempregado,0,Solteiro,1,jogar bola,sim,jogo bola,2.0,sim,Ensino Superior
3,João,Aparecido,1950,m,Monte Alto,Gerente de Projeto,3,Viuvo,2,Nã faço nada,NaN,-,NaN,sim,Ensino Superior
4,Marta,da Silva,1983,f,São Caetano,Auxiliar de Enfermagem,2,Solteira,0,caminhar,sim,crossfit,4.0,não,Ensimo Tecnico
5,Vilma,Narsiza,1995,f,Minas Gerais,caixa de mercado,4,Solteira,4,barzinho com os amigos,sim,crossfit,3.0,não,Ensino Médio
6,Marcela,Santos,1987,f,Pernanbuco,Não informado,0,Viuvo,0,caminhar,não,-,0.0,sim,Ensino Médio
7,Joao,Victor,2001,m,São Paulo,estagiario,2,Solteiro,0,só jogo bola,sim,jogo bola,1.0,não,Ensino Superior
8,Marcos,Victor,1998,m,Rio de Janeiro,estagiario,1,Solteiro,0,fico em casa,não,-,0.0,sim,Ensino Superior
9,Mirtes,NaN,1976,f,Vitoria,Médica,5,Casada,2,leitura e ficar com os filhos,sim,crossfit,3.0,sim,Ensino Superior
10,Camila,Sousa,2003,f,Rio Grande do Sul,estudante,2,Solteira,1,leitura e ficar com minha filha,sim,natação,3.0,não,Ensino Superior
11,Jaqueline,Virtude,1999,f,Aparecida,Enfermeira,7,Solteira,3,"leitura, limpo a casa",não,-,0.0,sim,Ensino Superior
12,Dirce,Nogueira,1967,f,São Paulo,Autonoma,9,Casada,5,"fico com meus filhos, durante a semana não ten...",não,-,0.0,sim,Ensino Superior
13,Dirceu,Nogueira,1966,m,São Paulo,Caminhoneiro,2,Casado,2,churrasco,não,-,0.0,sim,Ensino Médio
14,Lucas,Silva e Silva,1995,m,Goias,desempregado,1,Solteiro,0,estudo,sim,correr na rua,4.0,não,Ensino Superior
15,Guilherme,Santos,1997,m,Pernanbuco,Gerente Financeiro,4,Casado,1,correr na rua,sim,Academia,3.0,sim,Ensino Superior
16,Mirtes,de Jesus,1993,f,Bahia,Dentista,6,Solteira,1,correr e ficar com os amigos,sim,Academia,4.0,sim,Ensino Superior
17,Gabriel,Neto,2008,m,Bahia,estudante,0,Solteiro,0,"só jogo bola, gosto de ficar com os amigos em ...",não,-,0.0,não,ensino médio
18,Sidney,Magal,1988,m,Acre,Caminhoneiro,1,Casado,3,não faço nada,não,-,NaN,sim,ensino médio
19,Virna,de Sousa Santos,1987,f,Fortaleza,Nutricionista,3,Casada,0,"academia, limpeza de casa",sim,natação,2.0,sim,ensino superior
20,Bruno,Amargo,1996,m,Minas Gerais,Pedreiro,3,Casado,1,jogo bola,sim,jogo bola,NaN,NaN,ensino Médio
21,Patricia,Alburquerque,1982,f,Santa Catarina,Professora,5,Casada,2,"caminhar, ficar com os filhos",sim,zumba,2.0,sim,ensino superior
22,Cibele,Mirela,1985,f,Santo Andre,Recursos Humanos,7,Divorciada,1,nada,não,-,1.0,não,ensino superior
23,Artur,Vidal,1988,m,Espirito Santo,Frentista,2,Divorciada,3,jogo bola,sim,jobo bola,5.0,não,ensino médio
24,Matias,do Campo,1992,m,São Paulo,Gerente Financeiro,1,Divorciada,1,"caminhar, ler livros e ficar com o filho",sim,crossfit,3.0,sim,ensino superior
25,Minerva,Campina,1991,f,Bahia,Enfermeira,1,Solteira,1,"correr, ler, estudar e ficar com os amigos",não,-,0.0,não,ensino superior
26,Washington,Manoel,1986,m,Goias,Gerente Geral,3,Casado,0,final de semana tiro para descançar,sim,academia,3.0,sim,ensino superior
27,Pedro,Miguel Junior,1984,m,São Paulo,Analista de Sistemas,7,Solteiro,0,barzinho com os amigos e descançar,sim,natação,2.0,sim,ensino superior
28,Tamires,Sousa,1988,f,São Paulo,Biomedica,3,Solteira,0,barzinho com os amigos e descançar,sim,academia,3.0,não,ensino superior
29,Rafael,Nordenho,1988,m,Fortaleza,Comercio Exterior,2,Solteiro,0,"correr, ler, estudar e ficar com os amigos",sim,crossfit,5.0,sim,ensino superior

In [30]:
cadastro_df ['idade'] = 2020 - cadastro_df.filter(like='ano_nascimento')

In [32]:
#criar um novo DF
idade_df = cadastro_df.filter(like='idade')

In [ ]:
#Qual a idade média das pessoas no cadastro ?

In [34]:
idade_df.mean()

idade    32.733333
dtype: float64

In [9]:
    #tratando NaNs
    cadastro_df["pratica_esporte"] = cadastro_df["pratica_esporte"].fillna("não")
    cadastro_df["quanta_vezes_na_semana_pratica_esporte"] = cadastro_df["quanta_vezes_na_semana_pratica_esporte"].fillna(0)
    cadastro_df["tem carro"] = cadastro_df["tem carro"].fillna("não")

In [11]:
    #Calculando Quantidade de homens e mulheres    
    qtdSexo = cadastro_df["sexo"].value_counts() 
    
    r2 = "- Existem " + str(qtdSexo[0]) + " homens cadastrados e " + str(qtdSexo[1]) + " mulheres cadastradas.\n"

In [12]:
 #Calculando média de idades por sexo    
    idadeHomens = (cadastro_df.loc[cadastro_df['sexo'] == 'm']["ano_nascimento"] - 2020)*-1
    idadeMulheres = (cadastro_df.loc[cadastro_df['sexo'] == 'f']["ano_nascimento"] - 2020)*-1
    
    r3 = "- A idade média dos homens é " + str(idadeHomens.mean())[0:2] + " anos e a das mulheres é " + str(idadeMulheres.mean())[0:2] + " anos.\n"

IndentationError: unexpected indent (<ipython-input-12-75479d4c4203>, line 2)

In [14]:
Quantas pessoas gostam de caminhar fds           
    filtroCaminhada = cadastro_df[cadastro_df['lazer_final_de_semana'].str.contains("caminhar")]
    
    r4 = "- " + str(len(filtroCaminhada.index)) + " Pessoas gostam de caminhar no final de semana."

SyntaxError: invalid syntax (<ipython-input-14-be4475c97e97>, line 1)

In [17]:
    #Gráfico de barras escolaridade
    cadastro_df["escolaridade"] = cadastro_df["escolaridade"].str.lower()
    cadastro_df["escolaridade"] = cadastro_df["escolaridade"].str[7:]
    dfEscol = (cadastro_df["escolaridade"]).str.capitalize()
    dfEscolCount = dfEscol.value_counts()

        ax = dfEscolCount.plot(kind='bar', title = "Distribuição de Escolaridade", figsize=(5, 3), fontsize=10, rot=0)
    ax.set_ylabel("Indivíduos")
    ax.set_xlabel("Ensino")
    plt.show()

IndentationError: unexpected indent (<ipython-input-17-c54a8b9078cd>, line 7)

In [19]:
#Gráfico de estados        
    print("\n\n\n")
    dfEstado= (cadastro_df["cidade"])
    dfEstado = dfEstado.replace(['São Vicente', 'Santos', 'São Caetano', 'Santo Andre', 'Monte Alto', 'Aparecida'], 'São Paulo')
    dfEstado = dfEstado.replace(['Vitoria'], 'Espirito Santo')  
    dfEstadoCount= dfEstado.value_counts()
    
    ax2 = dfEstadoCount.plot(kind='bar', title = "Distribuição de Estados", figsize=(20, 3), fontsize=11, rot=0)
    ax2.set_xlabel("Estado")
    ax2.set_ylabel("Indivíduos")
    
    plt.show()

IndentationError: unexpected indent (<ipython-input-19-a3fe0fd260ea>, line 2)

In [20]:
    #Gráfico de estados        
    print("\n\n\n")
    dfEstado= (dfCadastro["cidade"])
    dfEstado = dfEstado.replace(['São Vicente', 'Santos', 'São Caetano', 'Santo Andre', 'Monte Alto', 'Aparecida'], 'São Paulo')
    dfEstado = dfEstado.replace(['Vitoria'], 'Espirito Santo')  
    dfEstadoCount= dfEstado.value_counts()
    
    ax2 = dfEstadoCount.plot(kind='bar', title = "Distribuição de Estados", figsize=(20, 3), fontsize=11, rot=0)
    ax2.set_xlabel("Estado")
    ax2.set_ylabel("Indivíduos")
    
    plt.show()
        
        
    #Gráfico Escolaridade x quem pratica Esporte    
    dfEscol = dfEscol.to_frame()
    dfEsporte = cadastro_df['pratica_esporte'].to_frame()
    dfAdjust = pd.merge(dfEscol, dfEsporte, left_index=True, right_index=True)                        
        
      
    dfEscolEspor = dfAdjust.groupby(['escolaridade', ], axis=0, as_index=False).sum()   
    dfEscolEspor['Não praticantes'] = dfEscolEspor['pratica_esporte'].str.count('não')
    dfEscolEspor['Praticantes'] = dfEscolEspor['pratica_esporte'].str.count('sim')
    dfEscolEspor.drop('pratica_esporte', axis=1, inplace=True)
    
    dfEscolEspor = dfEscolEspor.set_index('escolaridade')
    
    
    

    
    ax3 = dfEscolEspor.plot(kind='bar', title = "Relação Esporte x Escolaridade", figsize=(7, 3), fontsize=12, rot=0)
    ax3.set_ylabel("Indivíduos")
    ax3.set_xlabel("Ensino")
    
    print("\n\n\n")
    
    plt.show()

NameError: name 'dfCadastro' is not defined

In [21]:
    #Mapa de Calor  
    print("\n\n\n")
    
    plt.imshow(dfEscolEspor, cmap="YlGnBu")
    plt.colorbar()   
    plt.yticks(range(len(dfEscolEspor)), dfEscolEspor.index)
    plt.xticks(range(len(dfEscolEspor) - 1), dfEscolEspor.columns, rotation=20)
    plt.title('Mapa de calor\nEscolaridade x Esporte')
    plt.style.use('default')
    plt.grid(None)
    plt.show()

NameError: name 'dfEscolEspor' is not defined

In [ ]:
#Cálculo de Média Salarial   
    salariosMenos = dfSalario["salario até 3 anos"].replace(0, np.nan)
    salariosMais =dfSalario["salaior +3 anos"].replace(0, np.nan)
    mediaSalarios0 = str(salariosMenos.mean())[0:4]
    mediaSalarios1 = str(salariosMais.mean())[0:4]
    
    print("")
    
    r5 = ("\n- A média salarial dos funcionários com menos de 3 anos de experiência é de " + mediaSalarios0 + " reais.\n\n- A média salarial dos funcionários com mais de 3 anos de experiência é de "
          + mediaSalarios1 + " reais.")